<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NewAgeLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NewAgeLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NewAgeLauncher.Properties.Settings>
            <setting name="realmlist" serializeAs="String">
                <value>set realmlist wownewage.com</value>
            </setting>
            <setting name="patchDownloadURL" serializeAs="String">
                <value>http://wownewage.com/patches.txt</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>wownewage.com</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3724</value>
            </setting>
            <setting name="WebsiteUrl" serializeAs="String">
                <value>http://wownewage.com</value>
            </setting>
            <setting name="ForumsUrl" serializeAs="String">
                <value>http://community.wownewage.com</value>
            </setting>
            <setting name="VoteUrl" serializeAs="String">
                <value>http://wownewage.com/vote</value>
            </setting>
            <setting name="DonateUrl" serializeAs="String">
                <value>http://wownewage.com/donate</value>
            </setting>
            <setting name="WebsiteURLES" serializeAs="String">
                <value>http://wownewage.com/Launcher/Launguage/ES/NewAge Launcher.exe</value>
            </setting>
            <setting name="WebsiteURLEN" serializeAs="String">
                <value>http://wownewage.com/Launcher/Launguage/EN/NewAge Launcher.exe</value>
            </setting>
            <setting name="WebsiteURLFR" serializeAs="String">
                <value>http://wownewage.com/Launcher/Launguage/FR/NewAge Launcher.exe</value>
            </setting>
        </NewAgeLauncher.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <NewAgeLauncher.Properties.Settings>
            <setting name="WowLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="TransparencyToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WoWCacheToggle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LaunguageSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentLaunguage" serializeAs="String">
                <value>English (Default)</value>
            </setting>
            <setting name="LanguageChangeTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontAdditionTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="FutureVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckforUpdateTag" serializeAs="String">
                <value>False</value>
            </setting>
        </NewAgeLauncher.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.10.0.0" newVersion="0.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
