<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewAgeLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewAgeLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <NewAgeLauncher.Properties.Settings>
            <setting name="WowLocation" serializeAs="String">
                <value />
            </setting>
        </NewAgeLauncher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <NewAgeLauncher.Properties.Settings>
            <setting name="realmlist" serializeAs="String">
                <value>set realmlist wownewage.com</value>
            </setting>
            <setting name="patchDownloadURL" serializeAs="String">
                <value>http://wownewage.com/patch/patches.txt</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>WoW: NewAge</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3724</value>
            </setting>
            <setting name="WebsiteUrl" serializeAs="String">
                <value>http://wownewage.com</value>
            </setting>
            <setting name="ForumsUrl" serializeAs="String">
                <value>http://community.wownewage.com</value>
            </setting>
            <setting name="VoteUrl" serializeAs="String">
                <value>http://wownewage.com/vote</value>
            </setting>
            <setting name="DonateUrl" serializeAs="String">
                <value>http://wownewage.com/shop</value>
            </setting>
        </NewAgeLauncher.Properties.Settings>
    </applicationSettings>
</configuration>